# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtualenv
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/
logs/
*.log

# Environment variables & secrets
.env
.env.*
!.env.example

# VSCode & IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db